*$py.class
*.cover
*.egg
*.egg-info/
*.iml
*.iws
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.so
*.spec
.cache
.coverage
.coverage.*
.eggs/
.env
.hypothesis/
.idea
.idea_modules/
.installed.cfg
.nox/
.pyre/
.pytest_cache/
.Python
.python-version
.tox/
.venv
/site
__pycache__/
atlassian-ide-plugin.xml
build/
coverage.xml
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env.bak/
env/
ENV/
htmlcov/
lib/
lib64/
local_settings.py
MANIFEST
nosetests.xml
out/
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
sdist/
share/python-wheels/
target/
var/
venv.bak/
venv/
wheels/
